<h2>Estadísticas de la base de datos:</h2>

Número de preguntas: <%=numPreg%> </br>
Número de comentarios: <%=numCom%> </br>
Número medio de comentarios por pregunta: <%=media%> </br>
Número de preguntas con comentarios: <%=preguntasConComentarios%> </br>
Número de preguntas sin comentarios: <%=preguntasSinComentarios%>